* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    max-width: 100%;
    border: 1px solid grey;
}

header {
    padding: 10px;
    text-align: center;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 2%;
}

h2 {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 2%;
}

.layout {
    background-color: #144e9a;
}

footer {
    background-color: #6dbdff;
    margin-top: 2%;
    color: #ffffff;
    padding: 40px;
    text-align: center;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.topsection {
    display: flex;
    flex-direction: column;
}

.description {
    text-align: center;
    width: 90%;
    margin: 0 2%;
    align-self: center;
}

.topsection img {
    width: 100%;
    height: 400px;

}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 20px;
}

.description2 {
    width: 200px;
    text-align: center;
    padding: 20px;
    align-self: center;
}

button {
    background-color: #144e9a;
    color: #ffffff;
    padding: 5px 10px;
    text-align: center;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    border: black solid 1px;
    margin: -5px;
}

button:hover {
    background-color: #ffffff;
    color: #136db6;
}

button a {
    text-decoration: none;
    color: inherit;
}

@media screen and (max-width: 800px) {
    .gallery div {
        width: 20%;
    }

    button {
        margin: 0;
    }
}

@media screen and (max-width: 500px) {
    header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    nav {
        display: flex;
        flex-direction: column;
    }

    button {
        margin: 1px;

    }
    .topsection {
        display: flex;
        flex-direction: column;
    }

    .topsection img {
        width: 90%;
        height: auto;
        align-self: center;
    }

    .description {
        margin: 5%;
        flex-direction: column;
        text-align: center;
    }
    .row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding: 1%;
    }

    .row img {
        width: 45%;
        margin-top: 4%;
    }

    .description2 {
        width: 90%;
    }
}